body{
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.4s ease, color 0.4s ease;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

a, .a {
  display: block; /* Makes the <a> element behave like a block-level element */
  background-color: transparent; /* Resets background color */
  text-decoration: none; /* Removes underline */
  color: var(--bs-info); /* Inherits text color from parent element */
}

a:hover, .a:hover {
  text-decoration: underline;
  transition: tex-decoration 0.4s ease, color 0.4s ease;
  color: var(--bs-primary);
}

.carousel-inner, .card{
  border-radius: 20px;
}

.card{
  padding:10px;
}

.carousel-item{
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.experience{
  background-color: var(--bs-white);
  border: 0.1px solid var(--bs-dark);
  border-radius: 10px;
}