:root {
    --background: #000;
    --text: #fff;
    --bs-body-color: #fff; /* Body color */
    --bs-body-bg: #1b1b1b; /* Body Background */
    --bs-tertiary-bg: #000000; /* Tertiary Background */
    --bs-border-color-translucent: #000;
    /* primary */
    --bs-primary: #e10701;
    --bs-primary-rgb: 225, 7, 1;
    --bs-primary-opacity: 1;
    --bs-primary-hover: #8B322E;
    /* secondary */
    --bs-secondary: #e0504b; /* Gray */
    /* info */
    --bs-info: #e0504b; /* Cyan */
    --bs-success: #198754; /* Green */
    --bs-warning: #ffc107; /* Yellow */
    --bs-danger: #dc3545; /* Red */
    --bs-light: #212529; /* Light */
    --bs-dark: #f8f9fa; /* Dark */
    --bs-white: #000; /* White */
    --bs-black: #fff; /* Black */
    --microlink-color: #fff; /* Embed url color */
    --microlink-background-color: hsla(0, 0%, 0%, 0.3); /* Embed url color */
    --microlink-hover-background-color: #090909; /* Embed url color */
    --microlink-border-color: hsla(0, 0%, 0%, 0.3); /* Embed url color */
    --microlink-hover-border-color: #000; /* Embed url color */
    --bs-tooltip-color: #fff;
    --bs-light-rgb: 20, 20, 20; /* Dark gray (almost black) */
    --bs-bg-opacity: 2;
}

.text-bg-light {
    color: var(--bs-black) !important;
}
